* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container-page {
  display: grid;
  place-items: center;
  flex-grow: 1;
  padding-block: 2em;
}
.container-page img {
  max-width: 300px;
  margin: 0 auto;
}
